QToolButton{
    border-radius: 6px;
    background-color: rgba(255,255,255,0);
    font-size: 12px;
    padding-left: 10px;
}
QToolButton:hover{
    background-color: #d6e1ff;
    color: #268cff;
}
QMenu{
    border-radius: 8px;
    background-color: #edf2ff;
    margin: 5px;
    padding: 10px 5px 10px 5px;

}
QMenu::separator { /* 菜单子控件separator，定义菜单项之间的分隔线 */
    height: 1px;
    background: #CCCCCC;
    margin: 2px; /* 距离菜单边界2px */
}

QMenu::right-arrow { /* 菜单子控件right-arrow，定义子菜单指示器 */
    width: 15px;
    height: 15px;
    image: url("://Res/menuIcon/sub_menu_arrow.png");
}