/*--------------------total_widget------------------------------*/
QWidget {
    /*background-color: #CCFFEE;*/
    background-color: #eef2ff;
}
/*--------------------title_widget------------------------------*/
QWidget#title_widget {
    background-color: #e2f1ff;
    border-radius: 20px;
}
QWidget#title_widget .QLabel{
    background-color: #e2f1ff;
}
QWidget#title_widget .QPushButton{
    background-color:rgba(255,255,255,0);
    color:rgba(0,0,0,50%);
}
QWidget#title_widget .QPushButton:hover {
    color: #3366FF;
    font-size: 18px;
}
QWidget#title_widget .QPushButton:checked {
    color: #3366FF;
    font-size: 25px;
}
QLineEdit#search_lineEdit {
    border-radius: 15px;
    background-color: #e7e7e7;
}
QLineEdit#search_lineEdit:hover {
    background-color: #C0C0C0;
}
QToolButton#listen_toolButton {
    background-color:rgba(255,255,255,0);
    border-image: url("://Res/titlebar/listen-music-black.svg");
    border-radius: 10px;
}
QToolButton#listen_toolButton:hover {
    border-image: url("://Res/titlebar/listen-music-blue.svg");
}

QToolButton#theme_toolButton {
    background-color: rgba(255,255,255,0);
    border-image: url("://Res/titlebar/theme-black.svg");
}
QToolButton#theme_toolButton:hover {
    border-image: url("://Res/titlebar/theme-blue.svg");
}

QToolButton#message_toolButton {
    background-color: rgba(255,255,255,0);
    border-image: url("://Res/titlebar/message-black.svg");
}
QToolButton#message_toolButton:hover {
    border-image: url("://Res/titlebar/message-blue.svg");
}

QToolButton#menu_toolButton {
    background-color: rgba(255,255,255,0);
    border-image: url("://Res/titlebar/menu-black.svg");
}
QToolButton#menu_toolButton:hover {
    border-image: url("://Res/titlebar/menu-blue.svg");
}

QToolButton#min_toolButton {
    background-color: rgba(255,255,255,0);
    qproperty-icon: url("://Res/titlebar/minimize-black.svg");
    border-radius: 3px;
    height: 25px;
    width: 25px;
    icon-size: 12px 12px;
}
QToolButton#min_toolButton:hover {
    background-color: #DDDDDD;
    qproperty-icon: url("://Res/titlebar/minimize-blue.svg");
}

QToolButton#max_toolButton {
    background-color: rgba(255,255,255,0);
    qproperty-icon: url("://Res/titlebar/maximize-black.svg");
    border-radius: 3px;
    height: 25px;
    width: 25px;
    icon-size: 12px 12px;
}
QToolButton#max_toolButton:hover {
    background-color: #DDDDDD;
    qproperty-icon: url("://Res/titlebar/maximize-blue.svg");
}

QToolButton#close_toolButton {
    background-color: rgba(255,255,255,0);
    qproperty-icon: url("://Res/titlebar/close-black.svg");
    border-radius: 3px;
    height: 25px;
    width: 25px;
    icon-size: 12px 12px;
}
QToolButton#close_toolButton:hover {
    background-color: #FF0066;
    qproperty-icon: url("://Res/titlebar/close-blue.svg");
    icon-size: 12px 12px;
}

/*--------------------menu_scrollArea------------------------------*/
QScrollArea#menu_scrollArea .QToolButton{
    font: bold;
    padding-left:20px;
    border-radius:10px;
    border:none;
}
QScrollArea#menu_scrollArea .QToolButton:hover{
    background-color:#c0c0c0;
}
QScrollArea#menu_scrollArea .QToolButton:checked{
    background-color:#268cff;
}
/*--------------------classify_widget------------------------------*/

QWidget#classify_widget .QPushButton {
    color:white;
    border-radius: 10px;
}

QPushButton#recommend_pushButton {
    margin:3px;
    background-color: #44a2ff;
}
QPushButton#recommend_pushButton:hover {
    margin: 0px 3px 6px 3px;
}

QPushButton#ranking_list_pushButton {
    margin: 3px;
    background-color: #fe72ae;
}
QPushButton#ranking_list_pushButton:hover {
    margin: 0px 3px 6px 3px;
}

QPushButton#classify_pushButton {
    margin: 3px;
    background-color: #fc994a;
}
QPushButton#classify_pushButton:hover {
    margin: 0px 3px 6px 3px;
}

QPushButton#scene_music_pushButton {
    margin: 3px;
    background-color: #c740e1;
}
QPushButton#scene_music_pushButton:hover {
    margin: 0px 3px 6px 3px;
}

QPushButton#music_quality_pushButton {
    margin: 3px;
    background-color: #0a0a0a;
}
QPushButton#music_quality_pushButton:hover {
    margin: 0px 3px 6px 3px;
}
/*--------------------play_widget------------------------------*/

QWidget#play_widget {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
}
QWidget#play_widget .QToolButton {  /*到时候要提升一下*/
    border: none;
}
QWidget#play_widget .QPushButton {
    border-radius:5px;
    border:1px solid black;
    background-color:rgba(255,255,255,0);
}
QWidget#play_widget .QPushButton:checked {
    background-color: pink;
}
/*--------------------guss_love_widget------------------------------*/

GLTabWidget#guss_love_widget {
    border-image: url("://Res/tabIcon/cover.png");
    border-radius:10px;
    border:none;
}
GLTabWidget#guss_love_widget .QLabel {
    font-size: 25px;
    color: white;
}
GLTabWidget#guss_love_widget .QToolButton#playToolBtn {
    border-image: url("://Res/tabIcon/play-white.svg");
}
GLTabWidget#guss_love_widget .QToolButton#playToolBtn:hover {
    border-image: url("://Res/tabIcon/play-blue.svg");
}
GLTabWidget#guss_love_widget .QToolButton#nextToolBtn {
    border-image: url("://Res/tabIcon/next-song-white.svg");
}
GLTabWidget#guss_love_widget .QToolButton#nextToolBtn:hover {
    border-image: url("://Res/tabIcon/next-song-blue.svg");
}
GLTabWidget#guss_love_widget .QToolButton#likeToolBtn {
    border-image: url("://Res/tabIcon/like-white.svg");
}
GLTabWidget#guss_love_widget .QToolButton#likeToolBtn:hover {
    border-image: url("://Res/tabIcon/like-blue.svg");
}
GLTabWidget#guss_love_widget .QToolButton#dislikeToolBtn {
    border-image: url("://Res/tabIcon/dislike-white.svg");
}
GLTabWidget#guss_love_widget .QToolButton#dislikeToolBtn:hover {
    border-image: url("://Res/tabIcon/dislike-blue.svg");
}

/*--------------------QSlider------------------------------*/

QSlider {
    background-color: rgba(170, 255, 255, 100);
   
}
QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 8px;
    background-color: qlineargradient(spread:reflect, x1:0.500364, y1:0.0561364, x2:0.5, y2:0.517045, stop:0 rgba(168, 164, 168, 250), stop:1 rgba(232, 232, 232, 255));
    border-radius: 4px;
}
QSlider::handle:horizontal {
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.50565, fy:0.500409, stop:0 rgba(0, 0, 0, 255), stop:0.361582 rgba(0, 146, 146, 255), stop:0.649718 rgba(255, 255, 255, 255), stop:1 rgba(0, 177, 181, 255));
    border: 1px solid #5c5c5c;
    width: 14px;
    margin: -4px 0px;
    border-radius: 8px;
}
QSlider::sub-page:horizontal {
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(231,80,229, 255), stop:1 rgba(7,208,255, 255));
}

/*--------------------local_download_page------------------------------*/
QLabel#local_download_label {
    border:none;
    font-size:25px;
    font-weight:bold;
}
QWidget#guide_widget .QPushButton {
    color:black;
    font-size:14px;
    border: none;
    padding: 0px;
    margin: 0px;
}
QWidget#guide_widget .QPushButton:checked {
    color:#26a1ff;
    font-size:17px;
    font-weight:bold;
}
QWidget#guide_widget .QLabel {
    padding-top:0px;
    margin: 0px;
}
QWidget#operation_widget > .QToolButton {
    background-color: #f3f6fa;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
}
QWidget#operation_widget > .QToolButton:hover {
    background-color: #e9eef5;
}
QWidget#operation_widget QToolButton#local_play_toolButton{
     background-color:#269dff;
}
QWidget#operation_widget QToolButton#local_play_toolButton:hover{
    background-color:#2085d9;
}
QWidget#small_widget{
    border:none;
    border: 1px solid #C0C0C0;
    border-radius:15px;
}
QWidget#small_widget > QFrame{
    border:none;
    background-color:#C0C0C0;
}
QWidget#small_widget > .QToolButton {
    background-color: transparent;
}
QWidget#small_widget#local_list_toolButton {
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}
QWidget#small_widget#local_file_toolButton {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/*-------------------设置垂直滑动条样式----------------------*/
QScrollBar:vertical {
    border: 1px solid rgb(231,166,190);
    border-radius:4px;
    background: rgb(231,166,190);
    width: 10px;
    margin: 20px 0px 20px 0px;
}
/*--设置滑动条滑块样式*/
QScrollBar::handle:vertical {
    background: rgb(237,188,206);
    border-radius: 4px;
}
QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical {
    height: 0;
    background: none;
}
QScrollBar::handle:vertical:hover {
    background: rgb(248,129,161);
}

/*-------------------------------------------------------------*/

